.footer{
  display: flex;
  flex-direction: column;
  width: inherit; 
}
.footer--contatos{
 background: #00C2FF;
 height: 80px;
 display: flex;
 justify-content:space-around;
 align-items: center;
}
.footer--info{
  background: #232323;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer--area{
  flex: 1;
  display: flex;
  justify-content: space-around;
}
.footer--info--risco{
  width: 70%;
  height: 2px;
  background: #00C2FF;
}




@media (max-width: 1024px) {
 
}

@media (max-width: 650px) {
  .footer--contatos{
    height: 150px;
    flex-direction: column;
  }
  .footer--area{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
  }
}