.footer{
  display: flex;
  width: 100%;
  flex-direction: column;
  width: inherit; 

}
.footer--contatos{
 background: #00C2FF;
 height: 80px;
 display: flex;
 justify-content:space-around;
 align-items: center;
}

.footer--area{
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.footer--info{
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.footer--list{
  margin: 50px 0 ;
  list-style: none;
  color: #fff
}

.footer--function{
  font-weight: bold ;
  font-size: 21px;
  margin: 20px 0 ;
  user-select: none;
  text-shadow: 0 0 10px #00C2FF;
}

.footer--language{
  font-size: 17px;
  margin: 10px 0 ;
}

.footer--info--message{
  color: #fff;
  align-self: center;
  font-size: 17px;
}

.footer--info--risco{
  width: 70%;
  height: 2px;
  align-self: center;
  background: #00C2FF;
  margin-bottom: -60px;
}


button{
  border-radius: 10px;
  border: none;
  margin-right: 7px;
}

a{
  img{
    transition: all 1s ;
   } 

}

a:hover {
 img{
  filter: brightness(60%);
 } 
}

@media (max-width: 700px) {
  a:hover {
    img{
     filter: none;
    } 
   }

  .footer--info--risco{
    margin-bottom:0px;
  }
  .footer--info--message{
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
  }
  .footer--contatos{
    height: 150px;
    flex-direction: column;
  }
  .footer--area{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
  }
}


@media (max-width: 800px) {
  .footer--info{
    flex-direction: column;
    margin-left: 20%;
  }
}