<div class="footer">
  <div class="footer--contatos"> 
    <span class="footer--area">
      <a href="https://www.facebook.com/mariamacedo.kamikorosu/" target="blanc" class="footer--icon">
        <img src="https://img.icons8.com/color/48/000000/facebook-new.png" />
      </a>
      <a href="https://www.instagram.com/maria.s.ma/" target="blanc" class="footer--icon">
        <img src="https://img.icons8.com/color/48/000000/instagram-new--v1.png"/>
      </a>
      <a href="https://api.whatsapp.com/send?L=pt&phone=5511983475047" target="blanc" class="footer--icon">
        <img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png"/>
      </a>
    </span>
    <span class="footer--area">
  
      <a href="mailto:mariamacedo2xx@gmail.com" target="blanc" class="footer--icon">
        <img src="https://img.icons8.com/fluency/48/000000/gmail-new.png"/>
      </a>
      <a href="https://www.linkedin.com/in/maria-macedo-b73a8b140/" target="blanc" class="footer--icon">
        <img src="https://img.icons8.com/color/48/000000/linkedin-circled--v1.png"/>
      </a>
      <a href="https://github.com/Mariamacedo-prog" target="blanc" class="footer--icon">
        <img src="https://img.icons8.com/ios-filled/50/000000/github.png"/>
      </a>
    </span>
  </div>

  

  <div class="footer--info">
    <ul class="footer--list" *ngFor="let item of dataSource">
      <li class="footer--function" >{{ item.name }}</li>
      <li class="footer--language" *ngFor="let item3 of item.children">{{ item3.name }}</li>
    </ul>
  </div>



  <p class="footer--info--message">This portifolio was built with small business in mind. So you can learn more 'bout my skills.</p>
  <div class="footer--info--risco"></div>
</div>
  
