.btn{
  line-height: 50px;
	height: 50px;
	text-align: center;
  flex: 1;
	cursor: pointer;
	text-decoration: none; 
  color: #FFF;
	position: relative;
  transition: all 1s;
}
.btn:hover{
	color: #00C2FF;
	text-shadow: 0 0 10px #00C2FF;
}
.ativo{
	color: #00C2FF;
	text-shadow: 0 0 10px #00C2FF;
}

.btn::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-bottom-width: 1px;
	border-bottom-style: groove;

	border-bottom-color: #00C2FF;
	transform: scale(0.1, 1);
}

.ativo::before {
	opacity: 1;
	transform: scale(1, 1);
}

.btn:hover::before {
	opacity: 1;	
	transform: scale(1, 1);
}

.btn::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
}

.btn:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

.middle{
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #131313;
	position:fixed;
	z-index: 10;
}

.logo{
  color: #fff;
  font-size: 46px;
  font-weight: bold;
	text-align: center;
	margin-top:-5px;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.ignore--logo{
	display: none;
}

.menu--icon{
	color: #fff;
	width: 60px;
	display: none;
	cursor: pointer;
}

.menu--toggle--area{
	display: none; 
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	position: fixed;
	top: 80px;
	right:0;
	width: 100vw;
	height: 100vh;
	background: #131313;
}

.btn--toggle{
	width: 250px;
	text-decoration: none;
	color: #fff;
	font-size:20px;	
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #494949;
}

@media (max-width: 1024px) {
	.btn{
		font-size: 10px;
	}
}

@media (max-width: 600px) {
  .menu--icon{
		display: block;
	}
	.btn{
		display: none;
	}
	.middle{
		justify-content: space-between;
	}
	.menu--toggle--area{
		display: flex; 
	}
}