.btn{
  line-height: 50px;
	height: 50px;
	text-align: center;
  flex: 1;
	cursor: pointer;
  color: #FFF;
	transition: all 0.3s;
	position: relative;
  transition: all 0.3s;
}

.btn::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}

.btn:hover::before {
	opacity: 1;	
	transform: scale(1, 1);
}
.btn::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

.middle{
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #131313;
	position:fixed;
}
.logo{
  color: #fff;
  font-size: 46px;
  font-weight: bold;
	text-align: center;
	margin-top:-5px;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
