.about{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.about--info{
  width: 70%;
  height: 500px;

  display: flex;
  align-items: center;
  border-radius: 30px;
  animation: esquerdaCentro 1s forwards;
}
.about--info--area{
  display: flex;
  padding-right: 100px;
  flex-direction: column;
  flex: 1;
}
.image--me{
  width: 30%;
  height: 500px;
  border-radius: 1px;
  border: 4px solid #00C2FF;
}
.about--title{
  color: #00C2FF;
  font-size: 40px;
  animation: corAzul 4s;
  padding-bottom: 20px;
}
.table--coluna{
  border-radius:30px;
}

@media (max-width: 1024px) {
  .image--me{
    width: 40%;
  }
  .about--title{
    font-size:30px;
  }

  .about--info--area{
    padding-right:10px;
  }
}
@media (max-width: 650px) {
  .about{
    height: 100%;
    padding-top: 80px;
    padding-bottom: 300px;

  }
  .about--title{
    font-size:20px;
  }
  .about--info{
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .about--info--area{
    padding-right:10px;
    margin-top: 90px;
  }
  .image--me{
    width: 300px;
    margin-top: 60px;
  }
}