<div class="about"  style="background-image: url('./assets/back-about2.jpg')">
  <div class="about--info">
    <div class="about--info--area">
      <p class="about--title"><span [ngStyle]="{'color': '#232323'}">I am a Profissional </span> Web Developer</p>
      <p>I am brazilian, started learn 'bout Software development on 2020 I did a course where I'd learn to built a scheduling application using ReactJS, NodeJS and MongoDB.
        On Dec. 2021 I got my first job, learning more bout Java 8/Java7, AngularJS/Angular 13 and SQL Server. </p>
        <p>Today 
        I have developed with React, Node, VueJS, among other technologies.
        In the backend of some projects, I developed with NodeJS and express, with some databases like: MySQL, mongoDB, postgreSQL and even Firebase.</p>
      <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8 table--principal">
        <mat-text-column class="table--coluna" name="question"></mat-text-column>
        <mat-text-column  class="table--coluna" name="aswer"></mat-text-column>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <img class="image--me" src="../../../assets/me.jpg" alt="My image">
  </div>
</div>