
<div class="home">
  <app-slider></app-slider>
  <div class="home--Apresentacao">
    <h1 class="home--nome">Hi, I'm Maria Macedo</h1>
    <p class="home--skils">Front-End <span [ngStyle]="{'color': '#232323'}">&</span> Back-End Web Developer</p>
    <p class="home--frase">Welcome to my website, you can find here everything about</p>
    <p class="home--frase"> my work, my skils, experiences and my contacts.</p>
    <div class="home--botaoGit--area">
      <a class="home--botaoGit--botao" href="https://github.com/Mariamacedo-prog" target="blanc">CHECK MY GITHUB</a>
    </div> 

  </div>
</div>