
<div class="home">
  <app-slider class="slider--web"></app-slider>
  
  <div class="home--Apresentacao">
    <h1 class="home--nome">Hi, I'm Maria Macedo</h1>
    <p class="home--skils">Full-Stack Web Developer</p>
    <p class="home--frase">Welcome to my website, you can find here everything about</p>
    <p class="home--frase"> my work, my skils, experiences and my contacts.</p>

    <div class="home--botaoGit--area">
      <a href="https://github.com/Mariamacedo-prog" target="blanc">CHECK MY GITHUB</a>
    </div>
    


  </div>
  <app-slider class="slider--mobile"></app-slider>
</div>