
.home{
padding-top: 80px;
display: flex;
justify-content: space-around;
height: auto;
}
.home--Apresentacao{
 display: flex;
 padding-top: 100px;
 flex-direction: column;
 align-items: flex-end;
}
.home--nome{
  font-weight: none;
  font-size:75px;
  font-family: 'Times New Roman', Times, serif;
  animation: aparecer 2s,
  praEsquerda 2s;
  padding-bottom: 20px;
}
.home--skils{
  color: #00C2FF;
  font-size: 40px;
  animation: corAzul 4s;
  padding-bottom: 20px;
}
.home--frase{
  font-size: 21px;
  animation: corCinza 4s;
}

.home--botaoGit--area {
  user-select: none;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background:  #151515;
  cursor: pointer;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

a{
  color: #fff;
  transition: all 0.5s ease-in-out;
  animation: crescerLetra 3s linear infinite;
}

a:hover{
  color:  #00C2FF;
  animation:none;
}

.home--botaoGit--area:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.home--botaoGit--area:active {
  color:  #151515;
}

.home--botaoGit--area:active:after {
  background:  #151515;
}

.home--botaoGit--area:hover:before {
  opacity: 1;
}

.home--botaoGit--area:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:  #151515;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.slider--mobile{
  display: none;
}

@media (max-width: 1050px) {
  .home--nome {
    font-size: 55px;
  }
  .home--skils {
    font-size: 30px;
  }
  .home--frase {
    font-size: 14px;
  }
}

@media (max-width: 875px) {
  .home--nome {
    font-size: 35px;
  }
  .home--skils {
    font-size: 25px;
  }
}

@media (max-width: 700px) {
  .home {
    padding-top: 180px;
    flex-direction: column;
  }
  .home--nome {
    font-size: 35px;
  }
  .home--skils {
    font-size: 20px;
  }
  .home--frase {
    font-size: 15px;
    margin-bottom: 40px;
  }
  .home--Apresentacao {
    align-items: flex-start;
    margin-top: -150px;
  }
  .home--botaoGit--area {
    height: 100px;
    width: 100%;
    animation: none;
    align-self: center;
  }
  .slider--mobile {
    display: block;
  }
  .slider--web {
    display: none;
  }

  a::before {
    border-radius: 700px;
    min-width: calc(200px + 15px);
    min-height: calc(40px + 12px);
  }

  .home--botaoGit--area,
  .home--botaoGit--area:before {
    width: 100vw;
    height: 50px;
    margin: 50px 0;
    background: none;
    animation: none;
  }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
  .home--botaoGit--area {
    padding: 100px;
  }
  .slider--mobile{
    margin: 100px;
    display: inline;

  }
}

@keyframes corAzul {
  from {
    color: #fff;
  }
  to {
    color: #00C2FF;
  }
}

@keyframes corCinza {
  from {
    color: #232323;
  }
  to {
    color: #fff;
  }
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@keyframes crescerLetra {
  0% { font-size: 12px; }
  50% { font-size: 17px; }
  100% { font-size: 12px; }
}