<div class="app">
  <div class="instagram-wrapper">
    <div class="app--phone">
      <img src="{{telefone}}" unselectable="on"  alt="telefone">
      <div class="slider">
        <div class="slider--width" style="width: calc(220px * 5)">
          <div
            class="slider--item"
            style="background-image: url('./assets/3.jpg')"
          ></div>
          <div
            class="slider--item"
            style="background-image: url('./assets/eu.jpg')"
          ></div>
          <div
            class="slider--item"
            style="background-image: url('./assets/3.jpg')"
          ></div>
          <div
            class="slider--item"
            style="background-image: url('./assets/eu.jpg')"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
</script>