* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  border: none;
}

body {
  background-color: rgb(243, 243, 243);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  justify-content: center;
  width: 100%;
  display: flex;
  font-family: "Roboto", sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100vh;

}
.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation: aparecer 2s;

}
.app--phone {
  display: flex;
}
.app--phone img {
  margin-left: 100px;
  width:270px;
  -webkit-touch-callout: none; /* iPhone OS, Safari */
  -webkit-user-select: none; /* Chrome, Safari 3 */
  -khtml-user-select: none; /* Safari 2 */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Possível implementação no futuro */
  cursor: default;
}
.slider {
  margin-top: 90px;
  background-color: aquamarine;
  width: 218px;
  height: 375px;
  margin-left: -245px;
  flex: 1;
  overflow: hidden;
}

.slider--width {
  height: 100%;
  display: flex;
  transition: all ease 0.4s;
  animation: show 35s forwards infinite;
}
.slider--item {
  width: 100vw;
  height: inherit;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}


@keyframes show {
  0%   {margin-left: 0px;}
  5%  {margin-left: -220px;}
  15%  {margin-left: -440px;}
  20%  {margin-left: -660px;}
  25%  {margin-left: -880px;}
  30%  {margin-left: -1100px;}
  35%  {margin-left: -1320px;}
  40%  {margin-left: -1540px;}
  45%  {margin-left: -1760px;}
  50%  {margin-left: -1980px;}
  55%  {margin-left: -2200px;}
  60%  {margin-left: -2420px;}
  65%  {margin-left: -2640px;}
  70%  {margin-left: -1760px;}
  75%  {margin-left: -880px;}
  80%  {margin-left: -660px;}
  100% {margin-left: 0px;}
}

@media (max-width: 1024px) {
  .app {
    width: 80%;
  }
}

@media (max-width: 650px) {
  body {
    background-color: #ffffff;
  }
  .app{
    margin-top:-100px;
    width: 30%;
  }

}